@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Philosopher", sans-serif;
}

body {
  background-color: #1A202C;
}

  ::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
  background-color: #2D3748;
}

::-webkit-scrollbar-thumb
{
  border-radius: 4px;
  background-color: #06bd9c;
}