@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Philosopher", sans-serif;
}

body {
  background-color: rgb(0, 0, 0);
}

  ::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
  background-color: #000000;
}

::-webkit-scrollbar-thumb
{
  border-radius: 4px;
  background-color: #065f46;
}